<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Buggy Workspace/testautomationproject">
     <classes>
         <class name="setup"></class>
         <class name="login"></class>
         <class name="drivers"></class>
         <class name="drivers_profile"></class>
     </classes>
    </test>
</suite>